*{
	margin: 0px;
	padding: 0px;
}

body{
	background: #ffffff;

}


#contenedor {
	width: 960px;
	margin: auto;
	margin-top: 30px;
	border-radius: 10px;
	margin-bottom: 20px;
	
}

header{
	background: white;
	height: 200px;
	width: 960px;
	margin-bottom:15px; 
	border-color: #004669;
	border-style: solid;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

}


nav{
	background: #004669;
	height: 70px;
	width: 960px;
	border-color: #004669;
	border-style: solid;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-bottom: 10px;
}

nav li{
	list-style: none;
	display: inline-block;
	padding: 20px 0px;
}

nav a{
	color: white;
	font-size: 25px;
	font-weight: bold;
	font-family: arial;
	text-decoration: none;
	padding: 20px;
}

nav a:hover {
	background: #e7b200;
	color: white;
}

#slider{
	margin: auto;
	border: 5px solid #000000;
	margin-top: 20px;
}

#contenido{
	float: left;
	width: 100%;
	background: #005883;
	border-radius: 10px;
	overflow: hidden;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#consejo{

   background: #cccccc;
   float:left;
   padding: 10px;
   width: 600px;
   height: 1000px;
   margin-right: 10px;
   border-color: #004669;
   border-style: solid;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
   margin-bottom: 20px;
  

  

}

.articulos p{
	font-size: 15px;
	font-family: arial;
	color: #fff;
	text-align: center;
	list-style: italic;



}

aside{

	float:right;
	width: 315px;
	height: 1020px;
	background: #cccccc;
	border-color: #004669;
   border-style: solid;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
   margin-bottom: 20px;
   

}

h3 {
	font-size: 30px;
	color: #005883;
	background: #FACC2E;
	border-radius: 4px;
	text-align: center;
	padding: 10px;
	font-family: arial;
}

{
	padding: 10px;
	font-size: 14px;
	font-family: arial;
	text-align: justify;
}

footer {
	height: 60px;
	width: 960px;
	background: #004669;
	color: #0000;
	clear: both;
	border-radius: 4px;

}

footer p {
	font-size: 15px;
	font-family: arial;
	color: #fff;
	text-align: center;
	list-style: italic;
		
}

p{
	padding:10px;

}